@model Project.Models.User
@{
    ViewBag.Title = "ResetPassword";
}

<body>
	 <section id="form">
		<div class="container">
			<div class="row">			
				<div class="col-sm-4 col-sm-offset-4">

                    
					<div class="login-form">					
                        <h2>Reset Password</h2>	
                                                  
                            @using (Html.BeginForm("ResetPassword", "Home", FormMethod.Post))
                            {
                            <fieldset>
                                <div class="form">
                                     
                                    @Html.TextBoxFor(model => model.Password, new { type = "password", @placeholder = "Password", @id ="type1", @required = "required", @pattern = ".{6,}" })                         
                                    
                                    <input type="password" placeholder="Re-Type Password" id="retype1" required = "required"/>
                                    
                                </div>

                                <div class="clear"></div>
                                <button disabled="disabled"  type="submit" id="submit_reset" class="btn btn-default">Submit</button>
                                <div class="clear"></div>
                            </fieldset>
                            }

					    </div>
				    </div>			
                    <div class="col-sm-4">
                    <div style="height:85px"></div>
                    <p id="result"></p>
                </div>
				</div>
            </div>
		
	</section><!--/form-->
	
    <script>
        $(document).ready(function () {
            $('#retype1').keyup(function () {
                if (($('#type1').val() === $('#retype1').val()) && ( $('#type1').val() !== "")) {
                    $('#result').text("");
                    $('#submit_reset').prop('disabled', false);
                }
                else {
                    $('#result').text("Password do not match");
                    $('#submit_reset').prop('disabled', true);
                }                
            });
        });

        $(document).ready(function () {
            $('#type1').keyup(function () {
                if (($('#type1').val() === $('#retype1').val()) && ($('#type1').val() != null) && ($('#type1').val() != "")) {
                    $('#result').text("");
                    $('#submit_reset').prop('disabled', false);
                }
                else {
                    $('#result').text("Password do not match");
                    $('#submit_reset').prop('disabled', true);
                }
            });
        });
    </script>
  
    <script src="js/jquery.js"></script>
	<script src="js/price-range.js"></script>
    <script src="js/jquery.scrollUp.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/main.js"></script>
</body>